# Notebook Checkpoints #
########################
.ipynb_checkpoints

# Pycache #
###########
/__pycache__

# VS Code Configuration Files #
###############################
/.vscode

# Data Files Too Large To Store #
###############################
data/iedb_mhc_class_ii.csv
data/iedb_mhc_class_i.csv
