# Notebook Checkpoints #
########################
.ipynb_checkpoints

# Pycache #
###########
/__pycache__

# VS Code Configuration Files #
###############################
/.vscode

# Data Files #
###############################
data/iedb_mhc_class_ii.csv
data/iedb_mhc_class_i.csv
data/McPAS-TCR.csv
data/VDJDB.tsv
data/netTCR_data.txt
data/tcrgp_data.txt
data/combined_dataset.csv